<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861321874178-9n8h4jchob1ioavk17laid20ncjkajps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861321874178-9n8h4jchob1ioavk17laid20ncjkajps</string>
	<key>API_KEY</key>
	<string>AIzaSyDA0B0F2oc9csQMhsrtDykfAbLxuu7IUKc</string>
	<key>GCM_SENDER_ID</key>
	<string>861321874178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quizapp.fireship.test</string>
	<key>PROJECT_ID</key>
	<string>quizapp-34c22</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-34c22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861321874178:ios:60f05715a993c10d77101b</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-34c22.firebaseio.com</string>
</dict>
</plist>